*  
  {
    height: 100;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: flex-start;
    align-items:first baseline;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    background-image: url(./assets/img/imgj1.JPG);
    background-size: cover;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
    }
    
    h1 {
      color: #ffffff;
      text-align: center;
      margin-top: 20%;
    }
    
    button {
     
      padding: 10px 20px;
      font-size: 18px;
      height: 10%;
      width: 20%;
      font-size: 25px;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 50px;
      margin-top: 5px;
      
    }
    
    button:hover {
      background-color: #45a049;
    }